<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- 三种方法实例化bean -->
	<!-- 构造器 -->
	<bean id="hello" class="hellospring.HelloImpl">
		<constructor-arg index="0" value="Hello Spring"></constructor-arg>
	</bean>
	
	<!-- 静态工厂 -->
	<bean id="bean" class="hellospring.IHelloStaticFactory" factory-method="newInstance">
		<constructor-arg index="0" value="Hello Spring By StaticFactory"></constructor-arg>
	</bean>
	
	<!-- 定义工厂实例 -->
	<bean id="beanInstanceFactory" class="hellospring.IHelloInstanceFactory"></bean>
	<bean id="bean1" factory-bean="beanInstanceFactory" factory-method="newInstance">
		<constructor-arg index="0" value="Hello Spring By InstanceFactory"></constructor-arg>
	</bean>
	
	<!-- 构造器注入 -->
	<!-- 根据参数索引注入 -->
	<bean id="bean2" class="hellospring.HelloImpl">
		<constructor-arg index="0" value="byIndex"></constructor-arg>
		<constructor-arg index="1" value="1"></constructor-arg>
	</bean>
	
	<!-- 根据类型注入 -->
	<bean id="bean3" class="hellospring.HelloImpl">
		<constructor-arg type="java.lang.String" value="byType"></constructor-arg>
		<constructor-arg type="int" value="2"></constructor-arg>
	</bean>
	
	 <!-- 根据参数名注入 -->
	 <bean id="bean4" class="hellospring.HelloImpl">
	 	<constructor-arg name="msg" value="byName"></constructor-arg>
	 	<constructor-arg name="i" value="3"></constructor-arg>
	 </bean>
	 
	 <!-- setter方式依赖注入 -->
	 <bean id="bean5" class="hellospring.HelloImpl">
	 	<property name="msg" value="Hello World"></property>
	 	<property name="i" value="2"></property>
	 </bean>
	 
	 <!-- ID注入 -->
	 <!-- bean方式 ，在容器初始化时校验被引用的Bean是否存在-->
	 <bean id="bean6" class="java.lang.String">
		<constructor-arg index="0" value="test1"></constructor-arg>
	 </bean>
	 <bean id="idrefbean1" class="hellospring.HelloImpl">
	 	<property name="msg"><idref bean="bean6"/></property>
	 </bean>
	 
	<!--  local方式，在Bean实际使用时才能发现传入的Bean的ID是否正确 -->
	 <bean id="bean7" class="java.lang.String">
	 	<constructor-arg index="0" value="test2"></constructor-arg>
	 </bean>
	 <bean id="idrefbean2" class="hellospring.HelloImpl">
	 	<property name="msg"><idref local="bean7"/></property>
	 </bean>
	 
	 <!-- list注入 -->
	 <bean id="bean8" class="hellospring.HelloImpl">
	 	<property name="values">
	 		<list>
	 			<value>1</value>
	 			<value>2</value>
	 			<value>3</value>
	 		</list>
	 	</property>
	 </bean>
	 
	 <!-- array注入 -->
	 <bean id="bean9" class="hellospring.HelloImpl">
	 	<property name="arr">
	 		<array value-type="java.lang.String" merge="default">
	 			<value>1</value>
	 		</array>
	 	</property>
	 </bean>
	 
	 <!-- map注入 -->
	 <bean id="bean10" class="hellospring.HelloImpl">
	 	<property name="map">
	 		<map key-type="java.lang.String" value-type="java.lang.String" merge="default">
	 			<entry>
	 				<key><value>1</value></key>
	 				<value>1</value>
	 			</entry>
	 			<entry key="1" value="1"></entry>
	 		</map>
	 	</property>
	 </bean>
	
	<!-- properties注入 -->
	<bean id="bean11" class="hellospring.HelloImpl">
		<property name="prop">
			<props value-type="java.lang.String" merge="default">
				<prop key="1">test1</prop>
				<prop key="2">test2</prop>
			</props>
		</property>
	</bean>
	
	<!-- bean注入 -->
	<!-- 构造器方式注入 -->
	<bean id="hello1" class="hellospring.HelloImpl"></bean>
	<bean id="bean12" class="hellospring.HelloImpl2">
		<constructor-arg index="0" ><ref bean="hello1"></ref></constructor-arg>
	</bean>
	<!-- set方式注入 -->
	<bean id="bean13" class="hellospring.HelloImpl2">
		<property name="hello1" ref="hello1"></property>
	</bean>
	
	<!-- deponds on -->
	<!-- son依赖parent启动，在parent启动后启动，在parent销毁之前销毁 -->
	<bean id="parentImpl" class="hellospring.ParentImpl"
		init-method="init" destroy-method="destory">
		<property name="file" value="D:/GitWorkSpace/SSHLearning/WebRoot/test.txt"></property>	
	</bean>
	<bean id="sonImpl" class="hellospring.SonImpl" depends-on="parentImpl"
		init-method="init" destroy-method="destory">
		<property name="parentImpl" ref="parentImpl"></property>
	</bean>
	
	<!-- 自动装配，有NO,byname,byType -->
	<bean id="bean14" class="hellospring.HelloImpl"></bean>
	<bean id="bean15" class="hellospring.HelloImpl2"
		autowire="byName"></bean>
	
	<!-- 多个ihello出现，会报错误不知道选什么。 -->
	<!-- 主动放弃作为自动装配的候选者 -->
	<bean id="bean16" class="hellospring.HelloImpl" autowire-candidate="false"></bean>
	<!-- 优先选择作为自动装配 -->
	<bean id="bean17" class="hellospring.HelloImpl" primary="true"></bean>
	<bean id="bean18" class="hellospring.HelloImpl2"
		autowire="byType"></bean>
		
		
</beans>